<!doctype html>
<html ng-app="CalApp">
<head>
    <meta charset="UTF-8">
    <title>男丁格爾's 脫殼玩 - AngularJS</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
    <script src="js/controller.js"></script>
    <style>
        span {
            font-size: 16px;
            font-weight: 900;
            margin: 5px;
        }
    </style>
</head>
<body>
<form class="span5 form-inline" style="margin-top:20px;" ng-controller="CalCtrl">
    <div class="alert alert-info">
        <input type="number" class="input-small" ng-model="num1">
        <span>*</span>
        <input type="number" class="input-small"ng-model="num2" disabled>
        <span>=</span>
        {{ num1 * num2}}
    </div>
</form>
</body>
</html>