<!doctype html>
<html ng-app>
<head>
    <meta charset="UTF-8">
    <title>男丁格爾's 脫殼玩 - AngularJS</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
    <script src="js/controller.js"></script>
    <style>
        .red {
            color: red;
        }
        .bold {
            font-weight: bold;
        }
        .italic {
            font-style: italic;
        }
    </style>
</head>
<body>
<div class="well span4" style="margin-top:20px;" ng-init="red='red';bold='';italic='italic';">
    <div ng-class="[red, bold, italic]">男丁格爾 angular.js</div>
</div>

<div class="well span4" style="margin-top:20px;" ng-controller="Ctrl">
    <div ng-class="cssObj[selectd]">男丁格爾 angular.js</div>
</div>

<div class="well span4" style="margin-top:20px;" ng-controller="Ctrl">
    <label><input type="checkbox" ng-model="useRed" style="margin:0;"> Red?</label>
    <label><input type="checkbox" ng-model="useBold" style="margin:0;"> Bold?</label>
    <label><input type="checkbox" ng-model="useItalic" style="margin:0;"> Italic?</label>
    <div ng-class="{ red: useRed, bold: useBold, italic: useItalic }">男丁格爾 angular.js</div>
</div>
</body>
</html>